.vs/.vs/ProjectSettings.json

.vs/.vs/VSWorkspaceState.json

.vs/.vs/slnx.sqlite

.vs/Hansot-Kiosk_WPF/v16/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite

Hansot-Kiosk_WPF/.vs/Hansot-Kiosk_WPF/v16/.suo

Hansot-Kiosk_WPF/.vs/ProjectSettings.json

Hansot-Kiosk_WPF/.vs/VSWorkspaceState.json

Hansot-Kiosk_WPF/.vs/slnx.sqlite

Hansot-Kiosk_WPF/MainWindow.xaml

Hansot-Kiosk_WPF/obj/Debug/App.g.cs

Hansot-Kiosk_WPF/obj/Debug/Hansot-Kiosk_WPF.csprojAssemblyReference.cache

Hansot-Kiosk_WPF/obj/Debug/Hansot-Kiosk_WPF_MarkupCompile.cache

Hansot-Kiosk_WPF/obj/Debug/Hansot-Kiosk_WPF_MarkupCompile.lref

Hansot-Kiosk_WPF/obj/Debug/MainWindow.g.cs

Hansot-Kiosk_WPF/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs

Hansot-Kiosk_WPF/obj/Release/App.g.cs

Hansot-Kiosk_WPF/obj/Release/Hansot-Kiosk_WPF_MarkupCompile.cache

Hansot-Kiosk_WPF/obj/Release/Hansot-Kiosk_WPF_MarkupCompile.lref

Hansot-Kiosk_WPF/obj/Release/MainWindow.g.cs